.cityChoiceWrap {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cityChoiceWrap .cityChoiceTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #7A7D8C;
    transition: 0.3s color;
    margin-left: 10px;
}

.cityChoiceWrap .cityChoiceTitle:hover {
    color: #1540A4;
}