.headerWrap {
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.searchfield {
	background: #F1F1F1;
	width: 300px;
	border: none !important;
	outline: none;
}

.searchfield:focus {
	border: none !important;
}

.searchfield:hover {
	border: none !important;
}
